@import '../../scss/helpers/all.scss';

.h1 {
  font-size: size(60, 30);
  @include medium;
  line-height: 1.2em;
  @include media('<=#{$br1}') {
    margin-top: 36px;
  }
}

.header {
  height: 100vh;
  position: relative;
  width: 100%;
  @include media('>=#{$br2}') {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.header__container {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  @include media('<=#{$br1}') {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }
}

.header__left {
  width: 55%;
  @include media('<=#{$br1}') {
    width: 70%;
  }
  @include media('<=#{$br3}') {
    width: 100%;
  }
}

.header__descriptor {
  max-width: 600px;
  margin-top: size(32, 20);
}

.header__right {
  width: 45%;
  @include media('<=#{$br4}') {
    width: 100%;
  }
  .header__img-wrapper {
    float: right;
    display: flex;
    justify-content: space-between;
    @include media('<=#{$br1}') {
      max-width: 70%;
      float: left;
    }
    @include media('<=#{$br4}') {
      width: 100%;
      margin: 0 auto;
      float: none;
      position: relative;
      left: -20px;
      max-width: 50%;
      max-height: 250px;
    }
  }
  img {
    display: block;
    max-width: 50%;
    object-fit: contain;
  }
}

.header__btn {
  margin-top: size(48, 32);
}

.instruction__container {
  display: flex;
  justify-content: space-between;
  @include media('<=#{$br1}') {
    flex-direction: column;
  }
}

.section__line {
  height: 1px;
  width: 100%;
  background: #c4c4c4;
}

.instruction__left {
  width: 43.3%;
  @include media('<=#{$br1}') {
    width: 100%;
  }
}

.instruction__right {
  width: 49.2%;
  @include media('<=#{$br1}') {
    width: 100%;
    margin-top: 32px;
    &--big-m {
      margin-top: 52px;
    }
  }
}

.instruction__h2 {
  margin-top: 16px;
}

.instruction__h3 {
  margin-top: 12px;
}

.instruction__li {
  + .instruction__li {
    margin-top: size(60, 32);
  }
}

.instruction__text {
  margin-top: size(16, 12);
}

.instruction__container-2 {
  display: flex;
  width: 100%;
}

.instruction__h4 {
  margin-top: size(16, 12);
}

.instruction__steps-list {
  margin-top: size(40, 32);
}

.instruction__steps-li {
  + .instruction__steps-li {
    margin-top: size(40, 32);
  }
  display: flex;
  max-width: size(571, 335);
}

.number {
  display: inline-block;
  @include num;
  font-size: size(14, 12);
  color: $accent;
}

.instruction__steps-number {
  margin-right: 12px;
}

.order__items {
  margin-top: size(60, 32);
  display: flex;
  justify-content: space-between;
  @include media('<=#{$br1}') {
    flex-direction: column;
  }
}

.order__li {
  width: 29%;
  display: block;
  @include media('<=#{$br1}') {
    width: 100%;
    + .order__li {
      margin-top: 32px;
    }
  }
}

.order__btn {
  display: block;
  width: 100%;
  padding: size(32, 24) size(44, 32);
  border-radius: 33px;
  background-color: #fff;
  @include medium;
  font-size: size(28, 20);
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  &:hover,
  &.active {
    background-color: #ffa0a0;
    box-shadow: 0px 5px 40px rgba(220, 83, 73, 0.25);
  }
}

.order-form {
  display: grid;
  width: 71%;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: size(105, 10);
  grid-row-gap: size(30, 20);
  margin-top: size(60, 32);
  @include media('<=1366px') {
    width: 100%;
  }
  @include media('<=#{$br2}') {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0;
  }
}

.img-wrapper {
  height: size(146, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin-left: 10px;
  img {
    display: block;
    max-width: 100%;
  }
}

.dg__container {
  padding-top: size(120, 52) !important;
  padding-bottom: size(120, 52) !important;
}

.dg__top,
.dg__bottom,
.dg__bottom-item {
  display: flex;
  justify-content: space-between;
  @include media('<=#{$br1}') {
    flex-direction: column;
  }
}

.dg__top {
  margin-top: size(60, 32);
}

.dg__bottom {
  margin-top: size(60, 32);
  flex-direction: column;
}

.dg__top-text {
  position: relative;
  top: 10px;
  @include media('<=#{$br1}') {
    display: none;
  }
}

.dg__h2 {
  max-width: size(634, 335);
}

.dg__left {
  width: 24%;
  @include media('<=1504px') {
    width: 32%;
  }
  @include media('<=#{$br1}') {
    width: 100%;
  }
}

.dg__right {
  width: 70.8%;
  @include media('<=1504px') {
    width: 61.8%;
  }
  @include media('<=#{$br1}') {
    width: 100%;
  }
}

.dg__right-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  img {
    display: block;
    max-width: 100%;
    width: size(52, 10);
    @include media('<=1200px') {
      display: none;
    }
  }
}

.dg__bottom-item {
  + .dg__bottom-item {
    margin-top: size(60, 32);
  }
}

.dg__bottom-item--cta {
  @include media('<=#{$br1}') {
    flex-direction: column-reverse;
  }
}

.advantages__number {
  @include num;
  font-size: size(80, 60);
  line-height: 1em;
  display: block;
  margin-top: size(20, 16);
}

.big-p {
  margin-top: size(20, 16);
  color: rgba(#3f3d56, 0.7);
  font-size: size(32, 20);
  @include medium;
}

.why-we__h2,
.why-we__items {
  margin-top: size(60, 32);
}

.why-we__li {
  display: flex;
  justify-content: space-between;
  + .why-we__li {
    margin-top: size(60, 32);
  }
  @include media('<=#{$br1}') {
    flex-direction: column;
  }
}

.why-we__li-left {
  width: 37.3%;
  @include media('<=#{$br1}') {
    width: 100%;
  }
}

.why-we__li-right {
  width: 50.5%;
  @include media('<=#{$br1}') {
    width: 100%;
  }
}

.why-we__h5,
.why-we__text {
  margin-top: size(20, 16);
}

.clients-description {
  margin-top: size(20, 10);
  max-width: size(602, 335);
}

.clients__items {
  margin-top: size(60, 32);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 95px;
  grid-row-gap: 60px;
  padding-left: $g-offset;
  padding-right: $g-offset;
  @include media('<=#{$br1}') {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: initial;
    grid-column-gap: 0px;
    position: relative;
    margin-top: 4px;
  }
}

.clients__li {
  background: white;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  @include media('<=#{$br1}') {
    padding: 20px 65px;
    margin-right: 20px;
  }
}

.clients__swipe-to {
  display: block;
  margin-left: $g-offset;
  margin-top: 32px;
}

.reviews__review-wrapper {
  max-width: size(793, 335);
  @include media('<=#{$br1}') {
    max-width: none;
  }
}

.reviews__review {
  line-height: 1.5em;
}

.reviews__by {
  display: block;
  margin-top: size(20, 10);
}

.reviews__facebook-btn {
  display: block;
  padding: 11px 19px;
  font-size: 14px;
  width: fit-content;
  margin-top: size(52, 32);
}

.reviews__slider-nav {
  display: flex;
  align-items: center;
  margin-top: 20px;
  @include media('<=#{$br1}') {
    margin-top: 0px;
  }
}

.reviews__slider-nav-item {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  svg {
    path {
      transition: fill 0.3s ease;
    }
  }
  + .reviews__slider-nav-item {
    margin-left: size(40, 30);
  }
  &:hover {
    background-color: $accent;
    svg {
      path {
        fill: white;
      }
    }
  }
}

.reviews__slider-nav-item--left {
  svg {
    display: block;
    transform: rotate(180deg);
  }
}

.delivery__items {
  margin-top: size(60, 32);
}

.delivery__li {
  display: flex;
  justify-content: space-between;
  + .delivery__li {
    margin-top: size(60, 32);
  }
  @include media('<=#{$br1}') {
    flex-direction: column;
  }
}

.delivery__li-left {
  width: 37.3%;
  @include media('<=#{$br1}') {
    width: 100%;
  }
}

.delivery__li-right {
  width: 50.5%;
  @include media('<=#{$br1}') {
    width: 100%;
  }
}

.delivery__li-item {
  + .delivery__li-item {
    margin-top: size(60, 32);
  }
  @include media('<=#{$br1}') {
    margin-top: size(60, 32);
  }
}

.section__line {
  + .delivery__h3,
  + .delivery__text {
    margin-top: 12px;
  }
}

.delivery__h3 {
  + .delivery__text {
    margin-top: size(16, 12);
  }
}

.delivery__h2 {
  margin-top: size(60, 32);
}

.delivery__h5 {
  margin-top: size(16, 12);
}

.call-to-action__btn {
  margin-top: size(20, 32);
  @include media('<=#{$br1}') {
    margin-top: 32px;
  }
}

.call-to-action__text {
  line-height: 1.5em;
  max-width: size(793, 335);
  @include media('<=#{$br1}') {
    margin-top: 0px;
    max-width: 100%;
  }
}

.footer {
  background: $black;
  padding-top: 80px;
  padding-bottom: 20px;
  color: white;
  svg {
    path {
      fill: white;
    }
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  @include media('<=1345px') {
    flex-wrap: wrap;
  }
  @include media('<=#{$br3}') {
    flex-direction: column;
  }
}

.footer__bottom {
  margin-top: size(86, 60);
  width: 100%;
}

.footer__bottom-line {
  width: 100%;
  height: 2px;
  background: white;
}

.footer__bottom-copywrite,
.footer__made-by {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  line-height: 1em;
  @include media('<=#{$br3}') {
    font-size: 12px;
  }
}

.footer__bottom-copywrite {
  opacity: 0.7;
}

.footer__made-by {
  transition: color 0.3s ease;
  &:hover {
    color: $accent;
  }
}

.footer__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.representations__h6 {
  color: #c4c4c4;
}

.social__item {
  line-height: 1em;
  transition: color 0.3s ease;
  width: fit-content;

  &:hover {
    color: $accent;
  }
  + .social__item {
    margin-top: 14px;
  }
  @include media('<=#{$br3}') {
    margin-top: 32px;
  }
}

.representations {
  max-width: size(431, 335);
  @include media('<=1345px') {
    max-width: 600px;
    order: 5;
    margin-top: 32px;
    flex: 1 0 50%;
  }
  @include media('<=#{$br3}') {
    order: unset;
    max-width: 100%;
  }
}

.footer__btn {
  height: fit-content;
  @include media('<=#{$br3}') {
    margin-top: 32px;
  }
}

.representations__items {
  margin-top: size(24, 16);
}

.representations__li {
  display: flex;
  width: fit-content;
  + .representations__li {
    margin-top: size(32, 20);
  }
}

.representation__li-text {
  margin-left: size(12, 8);
  span {
    display: block;
    transition: color 0.3s ease;
    &:hover {
      color: $accent;
    }
  }
}

.order__form-wrapper {
  margin-top: size(160, 100);
}

.order__custom-checkbox {
  position: relative;
  user-select: none;
  cursor: pointer;
}

.order__img {
  display: block;
  max-height: size(146, 100);
  margin-bottom: size(36, 12);
  @include media('<=#{$br2}') {
    height: 101px;
  }
}

.order__checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  &:checked {
    ~ .order__fake-checkbox-wrapper .order__fake-checkbox svg {
      opacity: 1;
    }
  }
}

.order__fake-checkbox-wrapper {
  display: flex;
  align-items: center;
}

.order__fake-checkbox-text {
  display: inline-block;
  margin-left: 20px;
  flex: 0 0 74%;
}

.order__fake-checkbox {
  pointer-events: none;
  width: size(40, 30);
  height: size(40, 30);
  border-radius: 5px;
  border: 2px solid $black;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    display: block;
    max-width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    @include media('<=#{$br4}') {
      width: 35%;
    }
  }
}

.order__form-inputs {
  display: grid;
  grid-column-gap: size(40, 30);
  grid-row-gap: size(40, 30);
  margin-top: size(40, 20);
  &--3 {
    grid-template-columns: repeat(3, 1fr);
    @include media('<=1280px') {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media('<=#{$br3}') {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &--4 {
    grid-template-columns: repeat(4, 1fr);
    @include media('<=1280px') {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media('<=#{$br2}') {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media('<=#{$br4}') {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.order__form-step {
  + .order__form-step {
    margin-top: size(120, 72);
  }
}

.order__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: size(32, 24) size(38, 28);
  background: white;
  border-radius: 33px;
  margin-bottom: size(36, 16);
  font-size: size(27, 20);
  height: size(270, 230);
  @include medium;
}

.order__card-img {
  display: block;
  max-width: 100%;
  width: 55%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}

.order__card-price {
  margin-left: 20px;
}

.order__form-download {
  max-width: 80%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: size(48, 20);
  @include media('<=#{$br2}') {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}

.files-output {
  position: absolute;
  right: 0;
  bottom: size(-50, -30);
  display: flex;
  flex-direction: column;
}

.order__form-download-text {
  margin-right: 20px;
  width: 70%;
  flex: 1 1;
  span {
    color: $accent;
  }
}

.order__small-text {
  font-size: size(16, 14);
  display: block;
  margin-top: size(12, 8);
  line-height: 1.3em;
}

.order__download-button {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 2px solid $black;
  border-radius: 33px;
  padding: 17px 37px;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: inherit;
  color: $black;
  white-space: nowrap;
  cursor: pointer;
  span {
    display: block;
    margin-right: 10px;
    svg {
      display: block;
      max-width: 100%;
    }
  }
  @include media('>=960px') {
    max-width: 328px;
    &:hover {
      background-color: $black;
      color: white;
    }
  }
  @include media('<=960px') {
    margin-top: 32px;
  }
}

.order__final-screen {
  margin-top: size(100, 60);
}

.order__final-price {
  @include medium;
  font-size: size(36, 24);
  span {
    color: $accent;
  }
}

.order__form-wrapper {
  margin-top: size(160, 100);
} 

.order-form {
  margin-top: size(60, 32);
}

@include media('<=#{$br2}') {
  .order-form__input {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.order-form__input--full {
  grid-column-start: 1;
  grid-column-end: 3;
}


.contacts-header {
  padding-top: size(177, 100);
}
