@import '../../scss/helpers/all.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  background: #EBEBEB;
  width: 100%;
  z-index: 100;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__logo {
  display: block;
  svg {
    max-width: 100%;
    display: block;
  }
}

.navbar__lang-switcher {
  margin-left: size(45, 35);
}

.navbar__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__li {
  display: block;
  position: relative;
  font-size: 18px;
  + .navbar__li {
    margin-left: size(50, 40);
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 2px;
    transition: width .4s ease;
    background-color: $accent;
  }
  &:hover {
    &::after {
      width: 100%;
      right: auto;
      left: 0;
    }
  }
}