@import '../../../scss/helpers/all.scss';

.input {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.input__field-wrapper {
  width: 100%;
  position: relative;
}

.input__field {
  background-color: white;
  font-size: inherit;
  width: 100%;
  color: inherit;
  padding: size(23,17) size(40, 20);
  border-radius: 33px;
  position: relative;
  display: block;
  border: 1px solid transparent;
  @include reg;
}

.input__field--error {
  border-color: $accent;
}

.input__field--textarea {
  border-radius: size(53, 33);
  min-height: size(300, 170);
  resize: none;
}

.input__placeholder {
  position: absolute;
  left: size(40, 20);
  top: 0;
  margin-top: 1em;
  pointer-events: none;
  transition: opacity .2s ease, visibility .2s ease;
  span {
    display: inline-block;
    margin-left: 5px;
    color: $accent;
  }
}

.input__placeholder--hidden {
  opacity: 0;
  visibility: hidden;
}

.input__required-text {
  position: absolute;
  font-size: 14px;
  color: $accent;
  opacity: 0;
  pointer-events: none;
 }

 .input__required-text--active {
  opacity: 1;
 }

.input__label {
  font-size: 14px;
}


