@import './helpers/all.scss';

body {
  margin: 0;
  @include reg;
  color: $black;
  background-color: $lg;
  font-size: $def-size;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 $g-offset;
}