@import './helpers/all.scss';

body {
  margin: 0;
  @include reg;
  color: $black;
  background-color: $lg;
  font-size: $def-size;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.e-fixed {
    padding-right: var(--offset);
    overflow: hidden;
    .navbar {
      padding-right: var(--offset);

    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 $g-offset;
  position: relative;
}

.section__container {
  padding-top: size(200, 72);
  height: 100%;
  &.last {
    padding-bottom: size(200, 72);
  }
}

.h2, h3, h4, h5 {
  line-height: 1.2em;
  @include medium;
}

.h2 {
  font-size: size(60, 30);
}

.h3 {
  font-size: size(28, 20);
}

.h4 {
  font-size: size(42, 30);
}

.h5 {
  font-size: size(36, 20);
}

.h6 {
  @include reg;
  font-size: size(24, 18);
}

.mob-hidden {
  @include media('<=#{$br1}') {
    display: none;
  }
}

.dg {
  background-color: #E4E0E0;
  margin-top: size(200, 72);
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

input[type="file"] {
  display: none;
}