@import '../../scss/helpers/all.scss';

.contacts-header__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: size(40, 24);
  grid-gap: 40px;
  align-items: start;
  @include media('<=#{$br1}') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media('<=#{$br3}') {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contacts-header__item {
  .contacts-header__link,
  span {
    display: block;
    width: fit-content;
    + .contacts-header__link {
      margin-top: size(16, 12);
    }
    + span {
      margin-top: size(16, 12);
    }
  }
  h4 {
    margin-bottom: size(16, 12);
  }
  @include media('>=#{$br2}') {
    a {
      transition: color 0.3s ease;
      &:hover {
        color: $accent;
      }
    }
  }
}

.contacts__messengers {
  margin-top: size(20, 16);
}

.contacts-rep {
  margin-top: size(100, 60);
}

.contacts-rep__representations-items {
  display: grid;
  grid-gap: 40px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  margin-top: size(40, 24);
  @include media('<=#{$br1}') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media('<=#{$br3}') {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contacts-rep__representations {
  width: 100%;
  max-width: none;
}

.contacts-rep__representations-li {
  margin-top: 0;
  + .contacts-rep__representations-li {
    margin-top: 0;
  }
}

.contacts-form {
  display: grid;
  width: 71%;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: size(105, 10);
  grid-row-gap: size(30, 20);
  margin-top: size(60, 32);
  @include media('<=1366px') {
    width: 100%;
  }
  @include media('<=#{$br2}') {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0;
  }
}
@include media('<=#{$br2}') {
  .contacts-form__input {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.contacts-form__input--full {
  grid-column-start: 1;
  grid-column-end: 3;
}
